<!--
    Created by  edgardoacosta.
    30/06/17
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- tab image-->
    <link rel="icon"
          href="https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/698183/1161/773/m1/fpnw/wm0/pet-shop-.png?1444150631&s=5abfd42752dfc67a6903b054b5680d87">

    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= title %></title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="/stylesheets/mdb.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/style.css">

    <!--Jquery-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>

    <!--script--
    <script src="/javascript/cart.js"></script>
    <!--Toaster-->
    <link href="/assets/toastr/toastr.css" rel="stylesheet"/>
    <script src="/assets/toastr/toastr.min.js"></script>

</head>
<body class="fixed-sn green-skin">
<% include templates/header.ejs %>

<main>
    <div class="container-fluid">
        <section>
            <div class="row">
                <div class="col-md-12">
                    <h5 class="text-xs-center m-t-3 m-b-2">Carrinho de compras</h5>

                    <div class="table-responsive">
                        <!--Products table-->
                        <table class="table product-table">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Produto</th>
                                <th>Prceço R$ </th>
                                <th>Quantidade</th>
                                <th>Total R$ </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="table-cart">

                            </tbody>
                        </table>
                        <!--/,Products table-->

                        <div class="text-xs-center">
                            <a href="#" class="btn light-blue darken-4 waves-effect waves-light"
                               onclick="finish_purch()">Realizar compra</a>
                            <a href="/#product-list" class="white waves-effect waves-light">Continuar pesquisando</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

<% include templates/footer.ejs %>
</body>
</html>