        <footer class="page-footer center-on-small-only">
            <!-- Footer links -->
            <div class="container-fluid">
                <div class="rown">
                    <div class="col-md-3 offset-md-1">
                        <h5 class="title">Produtos</h5>
                        <ul>
                            <li><a href="#">Vestuário</a></li>
                            <li><a href="#">Alimentação</a></li>
                            <li><a href="#">Accessories</a></li>
                        </ul>
                    </div>
                    <hr class="hidden-md-up">
                    <div class="col-md-3">
                        <h5 class="title">Serviços</h5>
                        <ul>
                            <li><a href="#">Banhos</a></li>
                            <li><a href="#">Corte de cabelo</a></li>
                            <li><a href="#">Corte de unhas</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h5 class="title">Nos</h5>
                        <ul>
                            <li>Escrevenos a: <a href="mailto:pet.shop@gmail.com">pet.shop@gmail.com</a></li>
                            <li>Chámanos a: +5511659566351</li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <!-- Social buttons -->
            <div class="social-section">
                <ul>
                    <li><a href="#" target="_blank" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"> </i></a></li>
                    <li><a href="#" target="_blank" class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"> </i></a></li>
                </ul>
            </div>
            <!-- Copyright -->
            <div class="footer-copyright">
                <div class="container-fluid">
                    © 2015 Copyright: <a href="http://www.MDBootstrap.com"> MDBootstrap.com </a>
                </div>
            </div>
        </footer>
        <script src="/javascripts/jquery-2.2.3.min.js"></script>
        <script src="/javascripts/mdb.min.js"></script>
        <script src="/javascripts/photo.js"></script>
        <script src="/javascripts/product.js"></script>
    </body>
</html>